<article>
<a href="/#/"><span class="backArrow">&#8592</span></a>
<h2>The BVSD Trip Tracker Program</h2>
<h3>Who we are</h3>​
<p>At BVSD Transportation, we care about how all students get to school, not just
those who ride the school bus.  TheTrip Tracker program expresses this by
encouraging and rewarding students who walk, bike, carpool, or ride the RTD or
school bus  to school.  BVSD schools that participate in Trip Tracker share our
commitment to reducing car traffic in front of schools to make our schools safer
and healthier for our students.</p>

<p>Did you know that 'active transportation' (walking and biking to school) has a
positive impact on cognitive tasks and academic performance?  Check out the data
here.</p>

<h3>How to participate​</h3>
<p>If your school is on the list of participating
schools, you can register your children to keep track of their trips back
and forth to school. Report the total number of
trips for the month via the app. We crunch
the numbers and deliver boxes of Trip Tracker Dollars to each school to be
distributed by parent volunteers to trip tracking students.

Trip Tracker funding is limited and we are unable to add additional schools for
this year. If you are interested in having your school considered for
participation next year, please contact peter.hurst@bvsd.org. </p>

<h3>About those Trip Tracker Dollars</h3>

<p>We have over 40 participating businesses and
organizations that accept Trip Tracker Dollars like cash. The businesses
include bike shops, book stores, toy shops, sporting goods stores, ice cream
shops, rec centers, restaurants, and amusement/fun centers. Trip Tracker buys
those dollars back from the businesses at 50 cents on the dollar.  Our first
year was supported by three businesses that are still with us today – Spruce
Confections, Gateway Fun Park, and The Bookworm.​​

If you'd like to find out more about Trip Tracker, please contact
peter.hurst@bvsd.org </p>
</article> 
