<h1>Calendar</h1>
<li>create/edit/remove trips</li>
<li>interactive calendar, custom directive</li>
<h2>{{month}} {{year}}</h2>
<h3>Maximum trips this month: {{maxTrips}} | Your trips this month: {{userTrips}}</h3>

<div class="day" ng-repeat="day in days track by $index">
    <p ng-show="day.value > 0" class="left">{{day.value}} {{trip}} {{trip.am}} {{trip.pm}}</p>
    <h4 class="clear" ng-show="day.message">  {{day.message}}</h4>
    <div ng-show={{day.show}} class="clear">
      <div class="trip-type">
        <form>
          <input type="radio" name="am" value="none" checked> none<br>
          <input type="radio" name="am" ng-model="trip.am" value="carpool" ng-click="newTrip(trip, day.value)"> carpool<br>
          <input type="radio" name="am" ng-model="trip.am" value="rtd" ng-click="newTrip(trip, day.value)"> rtd<br>
          <input type="radio" name="am" ng-model="trip.am" value="school-bus" ng-click="newTrip(trip, day.value)"> school bus<br>
          <input type="radio" name="am" ng-model="trip.am" value="walk" ng-click="newTrip(trip, day.value)"> walk<br>
          <input type="radio" name="am" ng-model="trip.am" value="bike" ng-click="newTrip(trip, day.value)"> bike<br>
          <input type="radio" name="am" ng-model="trip.am" value="skate" ng-click="newTrip(trip, day.value)"> skate/scoot<br>
          <input type="radio" name="am" ng-model="trip.am" value="dw" > drive/walk<br>
          <select ng-show="trip.am === 'dw'">
            <option ng-model="trip.dw_dist" value="0" ng-click="newTrip(trip, day.value)">0</option>
            <option ng-model="trip.dw_dist" value=".25" ng-click="newTrip(trip, day.value)">.25</option>
            <option ng-model="trip.dw_dist" value=".5">.5</option>
            <option ng-model="trip.dw_dist" value=".75">.75</option>
            <option ng-model="trip.dw_dist" value="1">1</option>
            <option ng-model="trip.dw_dist" value="1.25">1.25</option>
            <option ng-model="trip.dw_dist" value="1.5">1.5</option>
          </select>
        </form>
      </div>
      <div class="trip-type">
        <form>
          <input type="radio" name="pm" value="none" checked> none<br>
          <input type="radio" name="pm" ng-model="trip.pm" value="carpool"> carpool<br>
          <input type="radio" name="pm" ng-model="trip.pm" value="rtd"> rtd<br>
          <input type="radio" name="pm" ng-model="trip.pm" value="school-bus"> school bus<br>
          <input type="radio" name="pm" ng-model="trip.pm" value="walk"> walk<br>
          <input type="radio" name="pm" ng-model="trip.pm" value="bike"> bike<br>
          <input type="radio" name="pm" ng-model="trip.pm" value="skate"> skate/scoot<br>
          <input type="radio" name="pm" ng-model="trip.pm" value="dw"> drive/walk<br>
          <select ng-show="trip.pm === 'dw'">
            <option value=".25">.25</option>
            <option value=".5">.5</option>
            <option value=".75">.75</option>
            <option value="1">1</option>
            <option value="1.25">1.25</option>
            <option value="1.5">1.5</option>
          </select>
        </form>
      </div>
    </div>

</div>
