
<article>
  <a href="/#/{{userId.id}}"><span class="backArrow">&#8592</span></a>
  <h2 class="blue"><span ng-click="prevMonth()"><</span> {{month | monthName | uppercase}} {{year}} <span ng-click="nextMonth()">></span></h2>

  <h3>Maximum trips this month: {{maxTrips}}</h3>
  <h3 class="purple">Your total trips: {{userTrips.length}}</h3>

</article>
<div class="container">
  <div class="calendar background">
    <div class="day" ng-repeat="day in days track by $index"></div>
  </div>

  <div class="calendar">
    <div class="day" ng-repeat="day in days track by $index" ng-style="day.pm | colorMap"></div>
  </div>

  <div class="calendar">
    <div class="day" ng-repeat="day in days track by $index" ng-style="day.am | colorMap">
        <p ng-show="day.value > 0" class="left">{{day.value}}</p>
        <h4 class="clear" ng-show="day.message">  {{day.message}}</h4>

        <div class="clear" ng-show="day.show">
          <div class="trip-type">
            <form ng-init="day.am='none'">
              <label ng-repeat="type in ['none', 'walk', 'bike', 'skate', 'carpool', 'bus', 'rtd', 'dw']">
                <input type="radio" name="am" ng-model="day.am" ng-click="renewAmTrip(day)" value="{{type}}" > {{type | tripType}}<br>
              </label>
              <label ng-show="day.am === 'carpool' || day.am === 'bus' || day.am === 'rtd' || day.am === 'dw'"> dist
              <select ng-model="day.am_dwDistance" ng-change="renewAmTrip(day)">
                <option ng-repeat="value in [.25, .5, .75, 1, 1.25, 1.5]" value="{{value}}">{{value}}</option>
              </select>
              </label>
            </form>
          </div>
          <div class="trip-type">
            <form ng-init="day.pm='none'">
              <label ng-repeat="type in ['none', 'walk', 'bike', 'skate', 'carpool', 'bus', 'rtd', 'dw']">
                <input type="radio" name="pm" ng-model="day.pm" ng-click="renewPmTrip(day)" value="{{type}}" > {{type | tripType}}<br>
              </label>
              <label ng-show="day.pm === 'carpool' || day.pm === 'bus' || day.pm === 'rtd' || day.pm === 'dw'"> dist
              <select ng-model="day.pm_dwDistance" ng-change="renewPmTrip(day)">
                <option ng-repeat="value in [.25, .5, .75, 1, 1.25, 1.5]" value="{{value}}">{{value}}</option>
              </select>
              </label>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
