<article>
  <a href="/#/"><span class="backArrow">&#8592</span></a>
  <h2>FAQ</h2>

  <h3 class="blue">How are awards calculated?</h3>
  <p>Participants earn one trip
  tracker dollar for every four, one-way trips (25 cents per trip). They earn
  another dollar for every ten miles of walking, biking, skating or scooting
  (active transportation). There is a two dollar bonus for students who complete
  every possible trip (max trips) of the month using alternatives to family car
  transport to school. </p>

  <h3 class="blue">What if my child regularly goes to
  school from two different locations during the month?</h3>
  <p>Trip Tracker
  would like to have trips reported separately from the two locations because
  the mileage and possibly the mode of transportation will be different for each
  location. We can then combine the awards in one package for distribution. If
  only one household wishes to register in Trip Tracker, the reporting parent
  should report trips from both locations and put modifying information in the
  open ended comment section. </p>

  <h3 class="blue">What if my child walks to the bus? How can they get credit for that as active transportation?</h3>
  <p>The Trip Tracker calendar will specifically ask you for that
  information.</p>

  <h3 class="blue">We only live one block away from school. How far does my
  child need to walk each day to get mileage credit?</h3>
  <p> The minimum
  distance that Trip Tracker credits is .25 miles, the equivalent of at least
  two city blocks (although ‘blocks’ vary greatly in size). If you live closer
  then .25 miles, your child still gets trip credit, i.e. 4 trips = 1 trip
  tracker dollar. </p>

  <h3 class="blue">Do participating businesses accept Trip
  Tracker Dollars from adults? Can I buy them from my daughter and then use
  them myself?</h3>
  <p> It’s up to the business but we don’t have any problem
  with big people using Trip Tracker Dollars. Now that we're also rewarding BVSD
  staff members for not driving to work, adults spending Trip Tracker dollars
  has become pretty normal. </p>
  <h3 class="blue">Can I trade in last year's 'expired' dollars for this year's dollars?</h3>
  <p>No, we can’t afford it. We
  need to 'close the books' at the end of the year knowing that there are no
  more dollars in the system to be spent.  We reimburse the businesses at 50
  cents on the dollar for every dollar that they collect and fund raise the
  money to do that. If we kept money in the system, we wouldn't know how much
  money we needed to raise each year for reimbursement. </p>
  <h3 class="blue">What if my child is out sick or has a meeting that they need to
  go to when you’re handing out the dollars at school? How do they get
  them?</h3>
  <p> Some schools will hold the left-over dollars in the office and
  some prefer not to do that. You can always send your request in a stamped,
  self-addressed envelope to Peter Hurst, BVSD Transportation, 6500 Arapahoe
  Rd., Boulder 80303. </p>

  <h3 class="blue">Do I really have to keep track of this? Can’t my kids do it
  instead?</h3>
  <p>Sure, have your children be responsible for keeping track of
  their trips. Since this is a self-reporting system, we would like you to take
  a look at their record keeping to keep it honest and accurate. If you
  don’t want to relate to the monthly data collections survey, you can just sign
  the calendar from and have them bring it to your school’s main office at the
  end of the month. </p>

  <h3 class="blue">I drop them off at school on my way to work. Is there some way they can still participate?</h3>
  <p> Yes and here is
  how you do it. Every trip that your child makes to or from school that
  involves at least .25 miles of walking, can be counted. So, if you drive them,
  you can let them out a few blocks away from school and let them walk. Have
  them meet a friend there and they can take advantage of the opportunity to
  'walk and talk'. </p>

  <h3 class="blue">How do you define a carpool? Does
  taking my three children to school count as a carpool?</h3>
  <p> We define
  carpools as multi-family. If you need any help with finding a carpool match,
  please contact us so we may be of assistance. Another way to allow your single
  family carpool to participate is to let them out at least a few blocks from
  school and have them register as walkers. </p>

  <h3 class="blue">What’s to keep
  kids from adding trips they didn't make to their schedules or parents from
  giving inflated numbers so their children can ‘win’?</h3>
  <p>Our intent is to
  have Trip Tracker be as fair as possible within the limitations of the
  situation. Our experience is that parents want to model honesty for their
  children and will encourage them to only record actual trips. For kids who use
  the paper calendar system instead of the online survey, we require that it be
  signed by parents. Finally, we attempt to publish the names of monthly winners
  in the school newsletters and post them at school so that we can both
  acknowledge winners and give contestants the opportunity to point out blatant
  falsification of data. </p>
</article>
