<article>
  <h2>{{totalDistance | number : 0 }} fewer car trips</h2>
  <div class="add">
    <nav>
      <a href="/#/about"><h3 class="alignLeft">ABOUT</h3></a>
      <a href="/#/FAQ"><h3 class="alignLeft">FAQ</h3></a>
    </nav>
    <div class="login" ng-hide="parent.userId">
      <h3 class="alignLeft">Login:</h3>
      <small>for demo purposes, an unrecognized login will take you to a demo user page</small>
      <form ng-submit="login()">
        <input type="text" placeholder="user name">
        <input type="password" value="you're in">
        <input class="submit" type="submit" value="login">
      </form>
    </div>
    <div ng-show="parent.userId">
      <h2><a href="/#/parent/{{parent.userId}}">Your Dashboard</a></h2p>
    </div>
  </div>

  <div class="stackedOut">
    <div class="stacked" d3-stacked-bar on-click="showDetailPanel(item)" data="monthData"></div>
  </div>

  <!-- <li ng-repeat="trip in trips | limitTo: 5">
    <a href="/#/trip/{{trip._id}}">{{trip}}</a>
  </li> -->

  <!-- <li ng-repeat="user in users | filter: { type: 'student'} | limitTo: 7 ">
    <a href="/#/{{user.userId}}">student: {{user.userId}}</a>
  </li>
  <li ng-repeat="user in users | filter: { type: 'parent'}">
    <a href="/#/parent/{{user.userId}}">parent user: {{user.userId}}</a>
  </li> -->

</article>
