<article>

  <a href="#/parent/{{parent.userId}}/new">+ add a student tracker (go to new.html)</a>
  <h2>add a student to your account</h2>
  <form ></form>

  <li>get student array, display each associated student</li>

  <div ng-repeat="student in parent.students">
    hey
    <a href="#/user/{{student.userId}}">{{student}}</a>
  </div>

  <li>link each student to their show page (from there can add/edit trips)</li>

  <li>add/edit trips in bulk for all students? (stretch)</li>

  <li>enable student to set up their own account (stretch)</li>
</article>
