<article>
  <h2 class="right"><a href="#/{{user.userId}}/edit">+ add/edit trips</a></h2>
  <a href="/#/"><span class="backArrow">&#8592</span></a>
  <div class="show">
    <h2>Hello {{user.name}}</h2>
    <div class="heat">
      <div d3-heat-map data="userTrips"></div>
    </div>

    <h3>{{userTrips.length}} total trips</h3>
    <h3 ng-show="studentPowerDistance > 0">total student-powered distance: {{studentPowerDistance | number:1 }} miles</h3>
    <h2 class="green">reward earned: {{reward | currency}}</h2>
  </div>
</article>
