$red: #FF1744;
$rtd: $red;
$purple: #D500F9;
$carpool: $purple;
$yellow: #FFD600;
$schoolBus: $yellow;
$indigo: #651FFF;
$driveDrop: $indigo;
$blue: #00B8D4;
$walk: $blue;
$green: #64DD17;
$bike: $green;
$orange: #FF6D00;
$skateScoot: $orange;
$transparentGray: rgba(99,99,99,.5);
$colorOne: #311417;
$colorTwo: #34403E;

.green {
  color: $green;
}

.pink {
  color: hotpink;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.purple {
  color: $purple;
}

.yellow {
  color: $yellow;
}

.indigo {
  color: $indigo;
}

.orange {
  color: $orange;
}
