$red: #c62828;
$rtd: $red;
$purple: #7B1FA2;
$carpool: $purple;
$yellow: #FFC107;
$schoolBus: $yellow;
$indigo: #651FFF;
$driveDrop: $indigo;
$blue: #1565C0;
$walk: $blue;
$green: #00796B;
$bike: $green;
$orange: #EF6C00;
$skateScoot: $orange;
$transparentGray: rgba(153,153,153,.1)
