body {
  background-color: white;
  width: 100%;
}

article {
  margin-left: 100px;
  width: 50%;
  padding: 2em;
  position: relative;
  form {
    text-align: right;
  }
  .add {
    text-align: right;
    float: right;
  }
}

.stacked {
  text-align: center;
}

.container {
  position: relative;
}

.calendar {
  margin: 1vw;
  position: absolute;
  top: 0;
  left: 0;
  .background {
    background-color: white;
  }
  .day {
    padding: .5em;
    border-radius: 9px;
    font-size: 10px;
    display: block;
    float: left;
    height: 13vw;
    width: 13vw;
    background-color: $transparentGray;
    border: 2px solid white;
    // background-color: mix($red, $yellow);
  }
  .trip-type {
    vertical-align: top;
    width: 45%;
    display: inline-block;
  }
}

.left {
  float: left;
}

.clear {
  clear: both;
}
