.container {
  position: relative;
}

.calendar {
  position: absolute;
  top: 0;
  left: 0;
}

.day {
  padding: .5em;
  border-radius: 9px;
  font-size: 12px;
  display: block;
  float: left;
  height: 13vw;
  width: 13vw;
  background-color: lightgray;
  border: 2px solid white;
  // background-color: mix($red, $yellow);
}

.trip-type {
  vertical-align: top;
  width: 45%;
  display: inline-block;
}

.left {
  float: left;
}

.clear {
  clear: both;
}
