/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative; }

.calendar {
  position: absolute;
  top: 0;
  left: 0; }

.day {
  padding: .5em;
  border-radius: 9px;
  font-size: 12px;
  display: block;
  float: left;
  height: 13vw;
  width: 13vw;
  background-color: lightgray;
  border: 2px solid white; }

.trip-type {
  vertical-align: top;
  width: 45%;
  display: inline-block; }

.left {
  float: left; }

.clear {
  clear: both; }

html {
  font-size: 1em; }

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: black; }

a {
  color: gray;
  text-decoration: none; }

p {
  margin-bottom: .3em; }

h1, h2, h4 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-size: 2.074em; }

header h1 {
  top: 85px;
  position: relative;
  font-size: 2.074em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em;
  line-height: 2; }

h4 {
  font-size: 1.2em; }

small, .font_small {
  font-size: 0.833em; }
