body {
  font-family: sans-serif;
}

.day {
  border-radius: 9px;
  font-size: 12px;
  display: block;
  float: left;
  height: 14vw;
  width: 14vw;
  background-color: darkgray;
  border: 2px solid white;
}

.trip-type {
  width: 45%;
  display: inline-block;
}
